<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Chat App</title>
    <link rel="stylesheet" href="./style.css">

</head>

<body>
    <header>
        <h1>Simple Chat UI</h1>
    </header>
    <div class="card">
        <div class="chat-container ">
            <div class="title-chat">
                <p>Gilang</p>
                <p>19:00</p>
            </div>
            <div class="receive-content-chat">
                <p>Ini Contoh chat</p>
            </div>
        </div>
        <div class="chat-container flex-end">
            <div class="title-chat">
                <p>19:00</p>
                <p>Gilang</p>
            </div>
            <div class="sender-content-chat">
                <p>Ini Contoh chat</p>
            </div>
        </div>

    </div>

    <form action=""></form>

</body>

</html>